In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

/usr/local/Cellar/python/3.7.4_1/Frameworks/Python.framework/Versions/3.7/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)
/usr/local/Cellar/python/3.7.4_1/Frameworks/Python.framework/Versions/3.7/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)

In [18]:
#creamos una matriz 100x4 con valores aleatorios
datos = np.random.randint(0,100,(100,4)) #forma de hacer un reshape

In [19]:
datos

array([[64, 20, 19, 46],
       [59, 61, 53, 89],
       [35, 90, 27, 27],
       [ 8, 96, 48, 32],
       [89, 72, 60,  0],
       [82, 27, 18, 72],
       [48, 77, 69, 91],
       [ 5,  8, 58, 41],
       [89, 78, 23, 38],
       [52, 48, 88, 31],
       [17, 67, 15, 30],
       [87, 56, 78, 60],
       [86, 74, 43, 33],
       [59, 29, 80, 25],
       [76, 15, 83, 99],
       [26, 96, 71, 64],
       [37, 39, 47, 99],
       [87, 45,  0,  2],
       [ 9, 96, 73, 39],
       [31, 32, 95, 11],
       [ 7, 49, 62, 69],
       [16, 93, 21, 92],
       [40, 20, 55, 34],
       [80, 10, 89, 10],
       [32, 39, 30, 90],
       [84, 84, 42, 24],
       [86, 89, 44, 29],
       [85, 21, 32, 31],
       [66, 66, 83, 20],
       [61, 12, 52, 60],
       [58, 68, 33,  6],
       [37, 40, 20, 61],
       [85, 76, 35, 37],
       [86, 83, 97, 97],
       [44, 31, 88, 23],
       [79, 70, 20,  6],
       [88, 69, 11, 29],
       [45, 81, 45, 83],
       [90, 58, 70, 51],
       [45,  2, 13, 40],
       [37, 94,  6, 56],
       [ 5, 16,  0, 10],
       [82, 22, 85, 56],
       [92, 58, 89, 85],
       [15, 87, 94, 54],
       [60, 67, 50, 39],
       [36, 92, 26, 81],
       [41, 86, 99, 41],
       [ 5, 47, 29, 98],
       [ 4, 34, 24, 11],
       [56, 42, 58,  6],
       [13, 38, 52, 80],
       [29, 87, 19, 74],
       [16,  4, 89, 66],
       [23, 91, 32, 71],
       [70, 48, 28, 57],
       [36, 92, 76, 65],
       [56, 83, 16, 36],
       [59, 87, 90, 39],
       [46, 59, 60, 95],
       [71, 56, 41, 59],
       [83,  2, 47, 94],
       [28,  8,  8, 81],
       [53, 62, 48,  7],
       [58, 22, 37,  7],
       [77, 97, 84, 50],
       [26, 59, 30, 16],
       [48, 10, 62,  7],
       [ 7, 94,  0, 28],
       [94, 78, 13, 79],
       [43, 43, 89, 60],
       [18, 84,  3, 18],
       [20, 94, 27, 89],
       [72, 51, 61, 17],
       [65, 78, 94, 78],
       [91, 79, 31, 74],
       [70, 47, 42, 45],
       [ 8,  6, 63, 51],
       [37, 45, 41, 48],
       [83, 23, 49, 31],
       [82, 92, 53,  3],
       [70, 95, 26, 22],
       [23, 49, 97, 65],
       [93, 63, 66, 36],
       [20, 75, 89, 73],
       [75,  5, 87, 24],
       [18, 44, 35,  7],
       [85, 55, 83,  4],
       [68, 99, 48,  7],
       [68, 65, 24, 77],
       [81, 92, 24, 48],
       [32, 21, 48, 75],
       [87, 90, 74, 34],
       [84, 61, 13, 73],
       [75, 58, 76, 90],
       [53, 77, 84, 40],
       [30, 11, 68, 62],
       [57, 98, 78, 92],
       [ 3, 41, 67, 31],
       [45, 31, 13, 52]])

In [21]:
#lo volvemos en dataframe con sus correspondientes columnas
dataframe = pd.DataFrame(data=datos,columns=['c1','c2','c3','etiqueta'])

In [22]:
dataframe

    c1  c2  c3  etiqueta
0   64  20  19        46
1   59  61  53        89
2   35  90  27        27
3    8  96  48        32
4   89  72  60         0
..  ..  ..  ..       ...
95  53  77  84        40
96  30  11  68        62
97  57  98  78        92
98   3  41  67        31
99  45  31  13        52

[100 rows x 4 columns]

In [23]:
#separamos las x con la y
x = dataframe[['c1','c2','c3']]
y = dataframe[['etiqueta']]

In [11]:
y

    etiqueta
0          0
1         52
2         72
3          8
4         41
..       ...
95        38
96        29
97        12
98        70
99        30

[100 rows x 1 columns]

In [24]:
#dividimos el dataset en 70% para train y 30% para test
X_train,X_test,y_train,y_test = train_test_split(x,y, test_size=0.3)

In [25]:
X_train.shape

(70, 3)

In [26]:
X_test.shape

(30, 3)